.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);

}
.text-comision-home{
    padding-top: 83%;
    text-align: -webkit-center;
}

.hrline{
    margin-left: 11%;
    margin-right: 8%;
}

h1.title {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Work Sans';
}


h2.title {
    font-size: 30px;
    font-weight: bold;
    color: #6DA5DD;
    font-family: 'Work Sans';
}

h2.title-exp{
    font-size: 50px;
    font-weight: bold;
    color: #6DA5DD;
    font-family: 'Work Sans';
}

p{
    font-family: 'Work Sans';
}

.column {
    float: left;
    padding: 10px;
    padding-left: 16%;
    width: 85%;
}

.twocolumns{
    float: left;
    width: 50%;
    padding: 10px;
}

.ahcno{
    width: 100%;
    margin-left: 10%;
}
.txtmatriz{
    margin-left: -5%;
    width: 85%;
}
.column-exp {
    float: left;
    padding: 30px;
    padding-left: 14%;
}
/*Padding Top para el icono de Presidencia*/

.padTop2 {
    padding-top: 9px;
}

/*Padding Top para la división entre secciones*/

.padTop {
    padding-top: 10px;
}

/*Clase usado para el color de fondo de los logos principales*/
.backgroundLogo {
    background-color: #EBECEE;
}

.contenedor2{
  height: 80%;
  width: 100%;
  background-color: #FFFFFF;
}

.btn-infografia{
    width: 30%;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    color: #fff;
    background-color: #337ab7;
}

.column4 {
    padding-right: 10%;
    padding-top: 2%;
    padding-left: 8%;
}

.column3 {
    padding-right: 8%;
    padding-top: 2%;
    padding-left: 15%;
    width: 90%;
}

.col-par-principal{
    padding-right: 8%;
    padding-top: 2%;
    padding-left: 9%;
    width: 100%;
}

.col-par-secundaria{
    margin-left: -4%;
    width: 100%;
}

.btn-transicion{
    margin-left: 34%;
}

/*Clases usadas para los botones de años*/

.botonesAnos {

color: #fff;
background-color: #fba3bb !important;
font-weight: bold;
font-size: 12px;
border-radius: 50px;

}

.botonesAlineados {
    text-align: center;
}

/*Clases usadas para estilos del slider*/

h3.title {
    color: #000000;
    font-size: 47px;
    width: 208%;
    margin-left: -54%;
}

p.subtitle{
  color: #f24f0b;
}

/*Imagen Energía Background*/

.backgroundImg {
    background-image: url(../static/images/repre.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 78%;
    width: 100%;
}

.bannerheader {
    background-image: url(../static/images/repre.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 78%;
    width: 100%;
}




.mySlides {display:none;}

.filterDiv {

    width: 36%;
  display: none;
    margin-left: 8%;
}
.filterDiva {

    width: 100%;
  display: none;
    margin-left: 0%;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
  width: 87%;
  padding-bottom: 1%;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


.img-grafica{
    width: 100%;
    margin-top: -10%;
}

.video{
    width: 100%;
    padding-left: 34%;
    margin-left: -16%;
}

.margen{
    padding-top: -15%;
}

.img-responsive{
    max-width: 243%;
}

.df{
    margin-top: 10px !important;
    margin-left: 0% !important;
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4;
}
.btn-noti-responsive2{
        padding-left: 1px;

    }
@media screen and (max-width: 890px) {

    .mySlidesBanner {
        margin-top: 8% !important;
        margin-bottom: -20% !important;
    }
    .titlenopad{
        padding-top: 0% !important;
        margin-top: 13% !important;
    }


    .hrlinecomision{
        margin-top: -19% !important;
    }

    .hrline{
        margin-top: -11%;
    }

    .img-grafica {
        width:  121%;
        margin-left: 2%;
    }

    iframe{
        height: 70%;
    }

    .column{
        width: 92%;
        padding-top: 12%;
    }

    .columnexdes{
        width: 100% !important;
    }

    .how{
        margin-left: 1% !important;
        float: left;
        text-align: left;
        margin-top: -1px;
        padding: 5px;
        margin /**/: 0;
        background: url('../static/images/repre.png')
    }
    .carousel-inner{
        padding-top: -0% !important;
    }
    h3.title{
        font-size: 25px;
        margin-top: -130% !important;
    }
    p.subtitle{
        display: none;
    }

    .logo-presi{
        margin-left: -10% !important;
        margin-top: -15% !important;
        width: 72% !important;
    }

    .img-expertos{
        width: 100%;

    }

    .logo-energia{
        padding-left: 8% !important;;
        width: 80% !important;
    }

    .column-exp{
        padding-top: 10% !important;
        padding-bottom: 0% !important;
    }

    h1.title{
        padding-top: 0% !important;
    }
    .video{
        width: 104%;
        padding-left: 22%;
        margin-left: -11%;
    }
    .popindex{
        height: 397px !important;
        width: 105% !important;
    }

    .btn-info{
        width: 30% !important;
        margin-top: -51% !important;
    }

    .btn-infografia{
        margin-top: 2%;
        width: 80%;
        padding: unset;
        margin-left: 10%;
    }

    .btn-transicion{
        margin-left: auto;
        margin-bottom: 2%;
    }

    .btn-primary{
        margin-left: 16% !important;
    }
    .container{
        overflow: visible;
    }
    .twocolumns{
        width: 100%;
    }
    .ahcno{
        width: 118%;
        margin-left: -20%;
    }
    .txtmatriz{
        width: 100%;
        margin-top: -9%;

    }
    .logo-energia-responsive{
        width: 55% !important;
    }
    .navbar-toggle{
        margin-top: -15%;
    }
    section{
        padding-top: 13%;
    }
    .columnx {
        width: 148% !important;
        margin-left: -23%;
    }
    .column-mitos{
        width: 135% !important;
        margin-left: -20% !important;
    }
    .btn-subasta{
        margin-left: 0% !important;
        width: 98%;
        margin-top: -9% !important;
    }
    .vid-subasta{
        width: 128% !important;
        margin-left: -22% !important;
}
    .btn-hidra{
        margin-top: -37% !important;
        width: 32% !important;
        margin-left: 46% !important;
    }
    .title-marg{
        margin-top: -26%;
    }
    .responsive-news-box{
    margin-top: -12% !important;
    }
    .responsive-news-title{
        margin-top: -20% !important;
    }
    .btn-noti-responsive{
        margin-left: 34% !important;
        padding-left: 15px;
        padding-right: 17px;
        border-radius: 14px;
        width: 32%;
        height: 34px;
        margin-top: 12px !important;
    }
    .btn-noti-responsive2{
    margin-left: 20% !important;
    padding-left: 15px;
    padding-right: 17px;
    border-radius: 14px;
    width: 60% !important;
    height: 34px;
    margin-top: 12px !important;
    }
    .twitter-responsive-news{
        width: 100%;
    }

    .df{
        margin-top: 10px !important;
        margin-left: 0% !important;
    } 

}

.activeb, .botonesAnos:hover {
    background-color: #FF2A64 !important;
  color: #ffffff !important;
}

.columnexdes{
    width: 40%;
}



.logo-presi{
    margin-top: -9.5%;
    margin-bottom: -15%;
    margin-left: -3%;
    width: 45%;
}

.logo-energia{
    padding-left: 0%;
    width: 21%;
}


.goup{
	background-image: url("../images/up.png");
    background-size: contain;
    background-repeat: no-repeat;
	bottom:0px;
	display: block;
	height: 50px;
	position: fixed;
	right:0px;
	width:52px;
    margin-bottom: 2px;

}


#twitter-home {
    background-color: #e7eff8;
    padding: 15px 15px 30px 15px;
    overflow: hidden;
}

#twitter-home-cnt {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    min-height: 200px;
}

div.ex1 {
  background-color: lightblue;
  height: 110px;
  overflow: auto;
}

.btn-noti{
    margin-left: 68%;
    padding-left: 15px;
    padding-right: 17px;
    border-radius: 14px;
    width: 32%;
    height: 34px;
    margin-top: -15px;
}

.popindex{
    background-size: contain;
    background-repeat: no-repeat;
	bottom:0px;
	display: block;
	height: 50px;
	right:0px;
	width:108%;
    height: 730px;
    margin-bottom: 2px;
}

.close{
    color: #0b17b9;
}

.btn-info{
    width: 55%;
    margin-top: -57%;
    border-radius: 30px;
    background-color: #ec4545;
    margin-left: 19%;

}

.fuentemobile{
    width: 100%;
}

.navbar-default{
    background-color: #e7e7e7;
}




.rowx{
    padding-left: 21.5%;
    padding-right: 21.5%;
}
.columnx {
  float: left;
  width: 50%;
  padding: 10px;
}

.column-mitos {
  float: left;
  width: 50%;
  padding: 10px;
    height: 385px;
}

/* Clear floats after the columns */
.rowx:after {
  content: "";
  display: table;
  clear: both;
}


.como-texto{
    padding-left: 8%;
    margin-top: -3%;
}

.indice{
    color: #009fff;
    margin-top: 3px;
    font-weight: bold;
    margin-left: 30%;
}

.titulo1-comision{
    text-align: center;
    color: #009fff;
}

.titulo2-comision{
    text-align: center;
    color: #009fff;
    margin-top: -15px;
    font-weight: bold;
}

.titulo-mitos{
    text-align: center;
    color: #009fff;
    margin-top: 15px;
    font-weight: bold;
}

.texto-mito {
    padding-left: 10%;
    margin-top: 23%;
    font-size: x-large;
}

.texto-comision {
    padding-left: 10%;
    margin-top: 7%;
}

.texto-comision-como {
    padding-left: 6%;
    margin-top: 7%;
}

.img-expertos{
    max-width: 100% !important;
}
.btn-primary{
    margin-top: 1%;
}

.subasta{
    width: 100%;
}

.exito{
    font-size: 30px;
    width: 1%;
    margin-block-end: -4%;
}

.vid-subasta{
    width: 135%;
    margin-left: -34%;
}

.btn-hidra{
    width: 24%;
    margin-top: -37%;
    margin-left: 48%;
}

.title-ce{
    width: 66%;
    padding-left: 21%;
}

.link{
    width: 50%;
}

.hrnoti{
    margin-left: -3%;
    margin-right: -9%;
}
.title-marg{
    margin-top: -7%;
}










.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#037E8C;
}

.paginacion ul li .active {
	background: #488a8c;
	font-weight:bold;
}

.btn-news.active {
  background-color: #666;
  color: white;
}

.btn-news {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn-news:hover {
  background-color: #ddd;
}

.error_page{
    padding-top: 2%;
}