hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);

}

.hrline{
    margin-left: 11%;
    margin-right: 8%;
}

h1.title {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Work Sans';
    padding-top: 12%;
}


h2.title {
    font-size: 30px;
    font-weight: bold;
    color: #6DA5DD;
    font-family: 'Work Sans';
}

h2.title-exp{
    font-size: 50px;
    font-weight: bold;
    color: #6DA5DD;
    font-family: 'Work Sans';
}

p{
    font-family: 'Work Sans';
}

.column {
    float: left;
    padding: 10px;
    padding-left: 14%;
    width: 50%;
}

.column-exp {
    float: left;
    padding: 30px;
    padding-left: 14%;
}
/*Padding Top para el icono de Presidencia*/

.padTop2 {
    padding-top: 9px;
}

/*Padding Top para la división entre secciones*/

.padTop {
    padding-top: 10px;
}

/*Clase usado para el color de fondo de los logos principales*/
.backgroundLogo {
    background-color: #EBECEE;
}

.contenedor2{
  height: 80%;
  width: 100%;
  background-color: #FFFFFF;
}

.column4 {
    padding-right: 10%;
    padding-top: 2%;
    padding-left: 8%;
}

.column3 {
    padding-right: 8%;
    padding-top: 2%;
    padding-left: 15%;
}

/*Clases usadas para los botones de años*/

.botonesAnos {

color: #fff;
background-color: #fba3bb !important;
font-weight: bold;
font-size: 12px;
border-radius: 50px;

}

.botonesAlineados {
    text-align: center;
}

/*Clases usadas para estilos del slider*/

h3.title {
    color: #000000;
    font-size: 47px;
    width: 208%;
    margin-left: -54%;
}

p.subtitle{
  color: #f24f0b;
}

/*Imagen Energía Background*/

.backgroundImg {
    background-image: url(../static/images/repre.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 78%;
    width: 100%;
}

.bannerheader {
    background-image: url(../static/images/repre.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 78%;
    width: 100%;
}




.mySlides {display:none;}

.filterDiv {

    width: 36%;
  display: none;
    margin-left: 8%;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


.img-grafica{
    width: 86%;
    margin-left: -6%;
    margin-top: -12%;
}

.video{
    width: 90%;
    padding-left: 14%;
    padding-top: 2%;
}

.margen{
    padding-top: -15%;
}

@media screen and (max-width: 650px) {

    .img-grafica {
        width:  121%;
    }

    iframe{
        height: 70%;
    }

    .column{
        width: 92%;
    }

    .columnexdes{
        width: 100% !important;
    }

    .how{
        margin-left: 1% !important;
    }
    .carousel-inner{
        padding-top: -0% !important;
    }
    h3.title{
        font-size: 25px;
        margin-top: -130% !important;
    }
    p.subtitle{
        display: none;
    }
}

.activeb, .botonesAnos:hover {
    background-color: #FF2A64 !important;
  color: #ffffff !important;
}

.columnexdes{
    width: 40%;
}

